*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: royalblue;
}
#page1 video{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
#page1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 10vh;
    width: 100vw;
    /* background-color: crimson; */
    position: absolute;
}
#logo{
    font-size: 22px;
    color: honeydew;
}
#page1 nav img{
    margin-top: -50px;
    width: 10%;
}
#rightnav button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 17px;
}
#bottom-page-1{
    position: absolute;
    bottom: 20%;
    left: 8%;
    height: 35vh;
    width: 50vw;
    /* background-color: crimson; */
    color: honeydew;

}
#bottom-page-1 h1{
    font-size: 5vw;
    line-height: 1;
    font-weight:800;
}
#bottom-page-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: aqua; */
}
#bottom-page-inner h4{
    line-height: 2;
        font-style: italic;
}
#bottom-page-1 button{
    font-size: 1.2vw;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: honeydew;
    border: none;
    background-color: white;
    color: #0b48ed;
}

#page2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #033ad0;
    position: relative;
    padding: 0  8vw;
    color: honeydew
}
#page2 h2{
    color: rgba(240, 255, 240, 0.663);
    margin-bottom: 3vw;
    font-weight: 300;

}
#page2 h1{
    width: 95%;
    font-weight: 100;
    line-height: 1.2;
    font-size: 4vw;
}





@media only screen and (max-width: 1200px) {
    #page1 nav img{
        width: 150px;

    }
    #bottom-page-1{
        height: 60vh;
        padding: 0 20px;
        left: 0;
        width: 100%;
    }
    #bottom-page-1 h1{
        font-size: 60px;
    }
    #bottom-page-inner{
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        font-size: 20px;
        width: 90%;
    }
    #bottom-page-1 button{
        font-size: 14px;
        font-weight: 600;
    }
    #bottom-page-1 h4{
        line-height: 2;
        font-style: italic;
        width: 100%;
    }
    #bottom-page-1{
        bottom: 20%;
    }
  }